.file-manager {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	section {
		height: 100vh;
	}
	.navigation {
		flex: 0 0 200px;
		background: #eee;
		border-right: 1px solid #ddd;
	}
	.browser {
		a {
			cursor: help;
			position: relative;
			display: inline-block;
			margin: 10px 0 0 10px;
			width: 150px;
			height: 150px;
			text-align: center;
			text-decoration: none;
			color: black;
			overflow: hidden;
			border: 1px solid #eee;
			padding: 2px;
			figure {
				margin: 0;
				overflow: hidden;
			}
			figcaption {
				position: absolute;
				top: 116px;
				left: 0;
			}
			img {
				border: none;
				max-width: 100%;
			}
			.actions {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				button {
					margin: 10px 0 0 10px;
					cursor: pointer;
					width: 60px;
					height: 25px;
					line-height: 25px;
					border: 1px solid #666;
					border-radius: 5px;
					background: #fff;
				}
			}
			&:hover {
				background: #efefef;
				border-color: #bbb;
				.actions {
					display: block;
				}
			}
		}
	}
}
